---
import '@/styles/global.css'
import '@/styles/mascot.css'
import '@fontsource/nanum-pen-script'
import '@fontsource/lxgw-wenkai-mono-tc'
import nanumLatinWoff2 from '@fontsource/nanum-pen-script/files/nanum-pen-script-latin-400-normal.woff2?url'
import wenkaiLatinWoff2 from '@fontsource/lxgw-wenkai-mono-tc/files/lxgw-wenkai-mono-tc-latin-400-normal.woff2?url'

interface Props {
  title?: string
  description?: string
}

const {
  title = 'Demo | I can see you',
  description = '60-second live detection session. Try not to get distracted.',
} = Astro.props as Props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="preload" href={nanumLatinWoff2} as="font" type="font/woff2" crossorigin />
    <link rel="preload" href={wenkaiLatinWoff2} as="font" type="font/woff2" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="notebook-bg">
    <slot />
  </body>
</html>
